#!/usr/bin/env python3
    
# Friendly names for the sensors
ALIASES = {
    'C6:75:AD:35:4C:DE':'balcony',
    'E9:FE:5A:C6:28:DC':'living-room',
    'F5:78:41:05:CC:7B':'kitchen'
    }

# Thresholds for sending a new event
THRESHOLDS = {
        'time': 300.0, # Send the data every x seconds even if there is no significant change in measured values
        'temperature': 0.02, 
        'humidity': 1.0, 
        'pressure': 0.10
        }

# Format of the data sent to IoT Hub
MESSAGE = ('{{'
        '"time": {time}, '
        '"alias": "{alias}", '
        '"temperature": {temperature}, '
        '"humidity": {humidity}, '
        '"pressure": {pressure}, '
        '"acceleration": {acceleration}'
        '}}')

# Replace with your own connection string
CONNECTION = "HostName="